@import "tailwindcss";

@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  @apply bg-white text-black dark:bg-black dark:text-white;
}
